langgraph
langgraph-checkpoint-postgres
langchain
langchain-google-genai
inngest
psycopg[binary]
python-dotenv
apify-client
numpy
isodate
google-api-python-client
pydantic
pytest
langsmith
scikit-learn
rank_bm25
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
clerk-backend-api